vendor
.idea/
node_modules
.env
src/app/*
!important src/app/index.html
src/store/provisions/limitation/yaml/*
!important src/store/provisions/limitation/yaml/index.html
tests/*
!important tests/index.html
.DS_Store
nbproject